body {
	font-family: YWFT ULTRAMAGNETIC ROUGH ONE;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
    background:url(../../bg2.png);
    background-color: #000000aa;
    background-blend-mode: multiply;
    background-size: cover;
    
   
}
@keyframes glow {
    0% {
        box-shadow: #980317 0 0 0 0;
    }

    70% {
        box-shadow: rgba(255, 165, 0, 0) 0 0 0 10px;
    }
}
/* ############################# */

    /* Navbar Styles */
    .logo {
        display: flex;
        width: 20%;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        }
        .logo_pic {
        width: auto;
        height: 120px;
        margin-left: 250px;
        }
        .navbar {
        display: flex;
        animation: nav-load 300ms ease-in;
        position: relative;
        }
    
        /* Navbar animation */
        @keyframes nav-load 
        {
        0%{
            transform: translateY(-100%);
        }  
        100%{
            transform: translateY(0);
        }
        }
        .nav_list {
        display: flex;
        width: 50%;
        /* background-color: lightblue; */
        align-items: center;
        padding-left: 30px;
        margin-left: 220px;
        }
        .nav_list li {
            list-style: none;
            padding: 10px;
            width: 120px;
          }
        .nav_list li a {
        text-decoration: none;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: blanchedalmond;
        background: none;
        padding: 10px;
        border-radius: 10px;
        }
        .nav_list li a:hover {
        background-color: #980317;
        color: blanchedalmond;
        animation: glow 1.5s infinite;
        }
        .rightNav {
            width: 50%;
            text-align: right;
        }
    
    /* Log in button */
    .rightNav{
        position: relative;
        align-items: center;
        }
    .rightNav a{
        text-decoration: none;
        color: blanchedalmond;
    }
    
    .Log_in {
        font-family: Roboto, 'Times New Roman', Times, serif;
        color: blanchedalmond;
        position: absolute;
        background: none;
        right: 70px;
        bottom: 40px;
        height: 50px;
        width: 80px;
        font-size: 20px;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    
    }
    .Log_in:hover{
        background-color: #980317;
        transition: background-color 0.4s ease-out;
        animation: glow 1500ms infinite;
    }








/* ###################################### */
main {
	padding: 2rem;
	max-width: 800px;
	margin: 0 auto;
    margin-top: -20px;
}

h1 {
    color: aliceblue;
	font-size: 2.5rem;
	margin-bottom: 1.5rem;
}

p {
    color: aliceblue;
	/* margin-bottom: 1.5rem; */
}
