
* {
    margin: 0;
    padding: 0;
}

  
  /* ############################# */

    /* Navbar Styles */
    .logo {
        display: flex;
        width: 20%;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        }
        .logo_pic {
        width: auto;
        height: 120px;
        margin-left: 250px;
        }
        .navbar {
        display: flex;
        animation: nav-load 300ms ease-in;
        position: relative;
        }
    
        /* Navbar animation */
        @keyframes nav-load 
        {
        0%{
            transform: translateY(-100%);
        }  
        100%{
            transform: translateY(0);
        }
        }
        .nav_list {
        display: flex;
        width: 50%;
        /* background-color: lightblue; */
        align-items: center;
        padding-left: 30px;
        margin-left: 220px;
        }
        .nav_list li {
        list-style: none;
        padding: 50px 30px;
        }
        .nav_list li a {
        text-decoration: none;
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: blanchedalmond;
        background: none;
        padding: 10px;
        border-radius: 10px;
        }
        .nav_list li a:hover {
        background-color: #980317;
        color: blanchedalmond;
        animation: glow 1.5s infinite;
        }
        .rightNav {
            width: 50%;
            text-align: right;
        }
    
    /* Log in button */
    .rightNav{
        position: relative;
        align-items: center;
        }
    .rightNav a{
        text-decoration: none;
        color: blanchedalmond;
    }
    
    .Log_in {
        font-family: Roboto, 'Times New Roman', Times, serif;
        color: blanchedalmond;
        position: absolute;
        background: none;
        right: 70px;
        bottom: 40px;
        height: 50px;
        width: 80px;
        font-size: 20px;
        font-weight: 700;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    
    }
    .Log_in:hover{
        background-color: #980317;
        transition: background-color 0.4s ease-out;
        animation: glow 1500ms infinite;
    }








/* ###################################### */
body {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(/menu/bg2.png);
    color: black;
    margin: 0;
    padding: 0; */
    background: rgba(0, 0, 0, 0.3) url("/Images/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
  
  main {
	margin: 20px;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
  }
  
  th {
	text-align: left;
	padding: 10px;
	background:#ffffffa5;
  }
  
  td {
	padding: 10px;
    color: #fff;
  }
  
  input[type="number"] {
	width: 50px;
  }
  
  @keyframes glow{
    0%{
      box-shadow:#ec1a37 0 0 0 0 ;
    }
    70%{
      box-shadow:rgba(255, 165, 0, 0) 0 0 0 10px ;
    }
  }
  @keyframes glow_3{
    0%{
      box-shadow:#0f0 0 0 0 0 ;
    }
    70%{
      box-shadow:rgba(255, 165, 0, 0) 0 0 0 10px ;
    }
  }
  .remove {
	background-color: #f00;
    color: #fff;
	border: none;
    border-radius: 25px;
	padding: 10px 20px;
	cursor: pointer;
  }
  .remove:hover{
    
    animation:glow 1500ms infinite;
  }
  

  .checkout {
	background-color: #0f0;
	color: #fff;
	border: none;
    border-radius: 25px;
	padding: 10px 20px;
    margin: 20px;
    float: right;
  }
  .checkout:hover{
    animation:glow_3 1500ms infinite;
  }

  